<a href="https://colab.research.google.com/github/hetielle/CovidSurvivalPrediction/blob/main/data-concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


import pandas as pd
import numpy as np

''' pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100) '''

df = pd.read_pickle("/content/drive/MyDrive/hcpa_ic.pkl")

display(df)

df['PESO'] = np.nan
df['PESO_DT'] = np.nan

df['ALTURA'] =  np.nan
df['ALTURA_DT'] = np.nan

df['PO2'] = np.nan
df['PO2_DT'] = np.nan

df['PCO2'] = np.nan
df['PCO2_DT'] = np.nan

df['QSOFA'] = np.nan
df['QSOFA_DT'] = np.nan

df['SpO2'] = np.nan
df['SpO2_DT'] = np.nan

df['FC'] = np.nan
df['FC_DT'] = np.nan

df['FR'] = np.nan
df['FR_DT'] = np.nan

df['PAS'] = np.nan
df['PAS_DT'] = np.nan

df['PAD'] = np.nan
df['PAD_DT'] = np.nan

i = 0
try:
  while True:
    colunas_valores = [df['PESO_contagem'][i], df['ALTURA_contagem'][i], df['PO2_contagem'][i], df['PCO2_contagem'][i], df['QSOFA_contagem'][i], df['SpO2_contagem'][i], df['FC_contagem'][i], df['FR_contagem'][i], df['PAS_contagem'][i], df['PAD_contagem'][i]]
    colunas_valores_int = []

    colunas_concat = [df['PESO_concat'][i], df['ALTURA_concat'][i], df['PO2_concat'][i], df['PCO2_concat'][i], df['QSOFA_concat'][i], df['SpO2_concat'][i], df['FC_concat'][i], df['FR_concat'][i], df['PAS_concat'][i], df['PAD_concat'][i]]

    colunas_sep = ['PESO', 'ALTURA', 'PO2', 'PCO2', 'QSOFA', 'SpO2', 'FC', 'FR', 'PAS', 'PAD']
    colunas_sep_dt = ['PESO_DT', 'ALTURA_DT', 'PO2_DT', 'PCO2_DT', 'QSOFA_DT', 'SpO2_DT', 'FC_DT', 'FR_DT', 'PAS_DT', 'PAD_DT']

    for j in range(len(colunas_valores)):
      if np.isnan(colunas_valores[j]) == False:
        colunas_valores_int.append(int(colunas_valores[j]))

    if max(colunas_valores_int,  default=0) > 1:
      for k in range(max(colunas_valores_int) - 1):
        valor_pos = ((i + k) + (i + k + 1)) / 2.0
        #print(valor_pos)
        df.loc[valor_pos] = np.nan
        df = df.sort_index().reset_index(drop=True)
        #df_vazio = pd.DataFrame({np.nan}, index=[i])
        #line = pd.DataFrame(index=[k])
        #df = pd.concat([df.iloc[:(k-1)], line, df.iloc[(k-1):]]).sort_index().reset_index(drop=True)

    if max(colunas_valores_int,  default=0) > 0:
      for l in range(len(colunas_concat)):
        valores_split = str(colunas_concat[l]).split(' | ')
        #print("valores_split", len(valores_split))
        for m in range(len(valores_split)):
          try:
            df.loc[(i + (m)), colunas_sep[l]] = valores_split[m].split('=')[1]
            df.loc[(i + (m)), colunas_sep_dt[l]] = valores_split[m].split('=')[0]
            ''' df.loc[(i + (m)), 'PRONTUARIO_2'] = df['PRONTUARIO_2'][(i - (m))]
            df.loc[(i + (m)), 'PRONTUARIO'] = df['PRONTUARIO'][(i - (m))] '''
          except:
            pass
    i += 1
except:
  pass

for i in range(len(df.index)):
  if np.isnan(df['PRONTUARIO'][i]) == True:
    df.loc[i, 'PRONTUARIO'] = df['PRONTUARIO'][i -1]

  if np.isnan(df['PRONTUARIO_2'][i]) == True:
    df.loc[i, 'PRONTUARIO_2'] = df['PRONTUARIO_2'][i -1]


display(df)
df.to_pickle('/content/drive/MyDrive/novo_hcpa_ic.pkl' )

,PRONTUARIO_2,DTHR_INTERNACAO_parsed_2,PRONTUARIO,DTHR_INTERNACAO_parsed,SEXO,PESO_contagem,PESO_primeiro,PESO_concat,ALTURA_contagem,ALTURA_primeiro,...,FC_concat,FR_contagem,FR_primeiro,FR_concat,PAS_contagem,PAS_primeiro,PAS_concat,PAD_contagem,PAD_primeiro,PAD_concat
0,12831,2021-02-25 14:50:00,12831,2021-02-25 14:50:00,M,0,NaN,NaN,0,NaN,...,NaN,0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
1,58016,2020-09-04 16:47:00,58016,2020-09-04 16:47:00,F,0,NaN,NaN,0,NaN,...,04/09/2020 02:04:06=56 | 04/09/2020 05:08:15=5...,22,23.0,04/09/2020 02:04:06=23 | 04/09/2020 05:08:15=2...,21.0,102.0,04/09/2020 02:04:06=102 | 04/09/2020 05:08:15=...,21.0,61.0,04/09/2020 02:04:06=61 | 04/09/2020 05:08:15=5...
2,179200,2020-06-20 03:50:00,179200,2020-06-20 03:50:00,F,0,NaN,NaN,0,NaN,...,19/06/2020 08:33:56=96 | 20/06/2020 01:22:21=8...,41,16.0,19/06/2020 08:33:56=16 | 20/06/2020 01:22:21=1...,39.0,115.0,19/06/2020 08:33:56=115 | 20/06/2020 01:22:21=...,39.0,76.0,19/06/2020 08:33:56=76 | 20/06/2020 01:22:21=6...
3,326678,2020-08-03 10:54:00,326678,2020-08-03 10:54:00,F,0,NaN,NaN,0,NaN,...,17/08/2020 02:24:37=73 | 17/08/2020 06:08:24=8...,13,21.0,17/08/2020 02:24:37=21 | 17/08/2020 06:08:24=2...,13.0,160.0,17/08/2020 02:24:37=160 | 17/08/2020 06:08:24=...,13.0,68.0,17/08/2020 02:24:37=68 | 17/08/2020 06:08:24=5...
4,340299,2020-11-20 22:15:00,340299,2020-11-20 22:15:00,F,1,46.5,20/11/2020 09:30:34=46.5,1,160.0,...,20/11/2020 08:01:47=83 | 20/11/2020 09:30:34=4...,39,18.0,20/11/2020 08:01:47=18 | 20/11/2020 09:30:34=1...,39.0,137.0,20/11/2020 08:01:47=137 | 20/11/2020 09:30:34=...,39.0,69.0,20/11/2020 08:01:47=69 | 20/11/2020 09:30:34=6...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1886,16642183,2022-01-26 10:47:00,16642183,2022-01-26 10:47:00,M,0,NaN,NaN,0,NaN,...,NaN,0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
1887,16643553,2022-01-28 10:38:00,16643553,2022-01-28 10:38:00,M,0,NaN,NaN,0,NaN,...,NaN,0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
1888,16646838,2022-01-31 18:36:00,16646838,2022-01-31 18:36:00,F,0,NaN,NaN,0,NaN,...,03/02/2022 03:10:31=82 | 03/02/2022 08:46:10=8...,17,18.0,03/02/2022 03:10:31=18 | 03/02/2022 08:46:10=1...,18.0,144.0,03/02/2022 03:10:31=144 | 03/02/2022 08:46:10=...,18.0,89.0,03/02/2022 03:10:31=89 | 03/02/2022 08:46:10=7...
1889,16647075,2022-01-31 20:50:00,16647075,2022-01-31 20:50:00,M,0,NaN,NaN,0,NaN,...,01/02/2022 04:53:12=60,1,20.0,01/02/2022 04:53:12=20,1.0,160.0,01/02/2022 04:53:12=160,1.0,72.0,01/02/2022 04:53:12=72
1890,16664419,2022-02-17 15:42:00,16664419,2022-02-17 15:42:00,M,0,NaN,NaN,0,NaN,...,17/02/2022 03:46:08=114 | 17/02/2022 03:47:35=...,75,35.0,17/02/2022 03:46:08=35 | 17/02/2022 03:47:35=2...,125.0,173.0,17/02/2022 03:46:08=173 | 17/02/2022 03:47:35=...,125.0,110.0,17/02/2022 03:46:08=110 | 17/02/2022 03:47:35=...

,PRONTUARIO_2,DTHR_INTERNACAO_parsed_2,PRONTUARIO,DTHR_INTERNACAO_parsed,SEXO,PESO_contagem,PESO_primeiro,PESO_concat,ALTURA_contagem,ALTURA_primeiro,...,SpO2,SpO2_DT,FC,FC_DT,FR,FR_DT,PAS,PAS_DT,PAD,PAD_DT
0,12831.0,2021-02-25 14:50:00,12831.0,2021-02-25 14:50:00,M,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12831.0,NaT,12831.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12831.0,NaT,12831.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12831.0,NaT,12831.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,58016.0,2020-09-04 16:47:00,58016.0,2020-09-04 16:47:00,F,0.0,NaN,NaN,0.0,NaN,...,96,04/09/2020 02:04:06,56,04/09/2020 02:04:06,23,04/09/2020 02:04:06,102,04/09/2020 02:04:06,61,04/09/2020 02:04:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,16642183.0,2022-01-26 10:47:00,16642183.0,2022-01-26 10:47:00,M,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,16643553.0,2022-01-28 10:38:00,16643553.0,2022-01-28 10:38:00,M,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,16646838.0,2022-01-31 18:36:00,16646838.0,2022-01-31 18:36:00,F,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,16647075.0,2022-01-31 20:50:00,16647075.0,2022-01-31 20:50:00,M,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,16664419.0,2022-02-17 15:42:00,16664419.0,2022-02-17 15:42:00,M,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#teste
import pandas as pd
import numpy as npp


df = pd.read_pickle("/content/drive/MyDrive/novo_hcpa_ic.pkl")

pd.set_option('display.max_rows', None)

display(df)